<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1B396A;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='img/LOGO.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top mb-0 h1">
      TecNM/Cenidet
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active mb-0 h1" aria-current="page" href="/">Analisis Similitud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-0 h1" href="{{ url_for('tolerancia.ajuste_tolerancia') }}">Ajustar Tolerancia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>